<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
<h1>Login</h1>
<form action="/login" method="POST" onsubmit="salvarId()">
    Nome: <input type="text" name="nome" required><br>
    Senha: <input type="password" name="senha" required><br>
    <button type="submit">Entrar</button>
</form>
<a href="/cadastro">Cadastrar</a>

<script src="/js/login.js"></script>
</body>
</html>